# Ignoring node modules
/node_modules

# Ignore docker files
.docker*

# Ignore Jenkins
Jenkin*

# Ignore nodejs keys/env
.env
/keys

# Ignore copied and minimized test files.
*.test.js~
*.test.js.un

# Ignore logs
test.js
*.log

# Ignore personal stuff
dennis*
cert*
