<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Animal Crossing New Horizons Fish</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
  <div class="menu_container">
    <ul class="menu">
      <li class="menu_button"><a href="./" class="menu_link">Home</a></li>
      <li class="menu_button"><a href="./bugs" class="menu_link">Bugs</a></li>
      <li class="menu_button"><a href="./fish" class="menu_link">Fish</a></li>
    </ul>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
    </tr>
    <%- include("./renderImages") %>
    <% for (let i = 0; i < data.length; i++) { %>
    <tr>
      <td><%= data[i].name %></td>
      <td><img src="images/fish/<%= renderImages(data[i].name) %>" /></td>
      <td><%= data[i].price %></td>
    </tr>
    <% } %>

  </table>
</body>
</html>
