<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome!</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
  <div class="menu_container">
    <ul class="menu">
      <li class="menu_button"><a href="./" class="menu_link">Home</a></li>
      <li class="menu_button"><a href="./bugs" class="menu_link">Bugs</a></li>
      <li class="menu_button"><a href="./fish" class="menu_link">Fish</a></li>
    </ul>
  </div>
  <div class="menu_container">
    <h3>May 13th, 2020: Setting up DNS and port forwarding done.</h3>
    <p>Woo! I can connect to the EC2 instance anywhere. I still need to upload images though.</p>
  </div>
  <div class="menu_container">
    <h3>May 12th, 2020: Got the database connected.</h3>
    <p>Forgot to add my IP to the inbound rules. Whoops.</p>
  </div>
  <div class="menu_container">
    <h3>May 9th, 2020: Got the EC2 instance set up.</h3>
    <p>Using the Amazon Linux 2 AMI. Let's see if I can get node to see my RDS database."
       It seems to be mad at me for some connection timeout reason. Possibly the
       wrong password. Not sure.
    </p>
  </div>
  <div class="menu_container">
    <h3>May 7th, 2020: Dumped the database onto RDS</h3>
    <p>Took my local MariaDB and moved it over to RDS. Went smoother than I thought.
       Thanks mysqldump.
    </p>
  </div>
  <div class="menu_container">
    <h3>May 3rd, 2020: Finger workout</h3>
    <p>I should've found a different way to insert all that data into MariaDB instead of writing hundreds of queries.
       Oh well. My fingers probably grew some muscles.
    </p>
  </div>
  <div class="menu_container">
    <h3>May 1st, 2020: Animal Crossing</h3>
    <p>My goal this month is to create a website where I can filter animal crossing data by month. I'm thinking
       of exploring AWS while doing this project.
    </p>
  </div>

</body>
</html>
