.blog_container {
	width: 35%;
	margin: 0 auto;
	padding: 0.25em;
}

.blog_title {
	font-size: 35px;
	text-align: center;
}

ol {
	text-align: center;
	list-style-position: inside;
}

.blog_image {
	display: block;
	margin: 15px auto 15px auto;
	max-width: 100%;
	height: auto;
}

.blog_image:hover {
	transform: scale(1.5);
}

.blog_link {
	color: #fff;
	transition: color 0.2s;
}

.blog_link:hover {
	color: #76ff5f;
}

#octocat {
	background-color: white;
	max-height: 15%;
	max-width: 15%;
}

@media only screen and (max-width: 620px) {
	.blog_container {
		width: 150%;
		margin: 0 22.5%;
	}	

	.blog_image:hover {
		transform: scale(1.25);
	}
	
	.menu_container {
		width: 200%;
		margin: 0;
		padding: 0;
	}
}
