*, *::before, *::after {
	box-sizing: border-box;
}

#navbar {
	width: 100%;
}

.menu_container {
	background-color: #003366;
	border-bottom: 1px solid #FFFFFF;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.menu_button {
	display: inline-block;
	list-style-type: none;
	margin: 0 0.5em;
	padding: 0.5em;
	transition: background-color 0.2s;
}

.menu_button:hover {
	background-color: #91a0bb;
}

.menu_link {
	line-height: 2;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

#octocat {
	max-width: 80px;
	max-height: 66px;
}
