table {
	border-style: thin;
	border-collapse: collapse;
	margin-left: 10%;
	margin-right: 10%;
}

th, td {
	border-style: solid;
	text-align: center;
	width: 7.5%;
}

th {
	cursor: pointer;
	padding: 12px 15px;
}

ol {
	text-align: center;
	list-style-position: inside;
}

.month_input, .timezone_container {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-top: 30px;
}

.filter_input {
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.month_select, .month_label {
	font-family: inherit;
	padding: 0.5em;
	margin: 0.25em;
	margin-bottom: 1em;
}

.month_submit {
        font-family: inherit;
	font-weight: 700;
	border-radius: 0.1em;
	padding: 0.5em 1.25em;
	text-decoration: none;
	color: #FFFFFF;
	border: 0.1em solid #FFFFFF;
	background-color: rgba(0,0,0,0);
}

.month_submit:hover {
	color: #000000;
	background-color: #FFFFFF;
	cursor: pointer;
}


.table_img {
	max-width: 64px;
	max-height: 64px;
}

.table_container {
	width: 75%;
	display: block;
	margin: 0 auto;
	padding: 0.5em;
	text-align: center;
}

.user_input {
	font-family: inherit;
	padding: 0.5em;
	margin: 0.25em;
	width: 25%;
}

.timezone_submit {
	font-size: 20px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 700;
	border-radius: 0.1em;
	padding: 1.5em 2.25em;
	margin: 0 0.35em;
	text-decoration: none;
	color: #FFFFFF;
	border: 0.1em solid #FFFFFF;
	background-color: rgba(0,0,0,0);
}

.search_submit, .timezone_submit:hover {
	color: #000000;
	background-color: #FFFFFF;
	cursor: pointer;
}

@media only screen and (max-width: 620px) {
	.table_container, .menu_container,
	.month_input, .filter_input, 
	.timezone_container {
		width: 250%;
	}
	
	table {
		display: inline-block;
	}
	
}
